/* Crad */
.card {
    margin-top: 60px;
    position: relative;
    display: flex;
    transition: all 0.3s ease-in;
    perspective: 600px;
}

.card img {
    display: block;
    max-width: 90%;
    border-radius: 10px;
    scale: 1;
}

.card:hover {
    scale: 1.1;
}

/* ////////////////////////// */

/*  front Crad  */

.card .front-card {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;

}

.flipped .front-card {
    transform: rotateY(180deg);
    transition-delay: 0.2s;
}

/* ////////////////////////////// */

/* Back Card */

.card .back-card {
    transition: all ease-in 0.2s;
    transition-delay: 0.2;
}

.flipped .back-card {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

/* ///////////////////////////////// */