/* Card */
.card {
    margin: 0 auto;
    transition: all 0.3s ease-in;
    perspective: 500px;
    user-select: none;
}

.card img {
    display: block;
    max-width: 90%;
    border-radius: 10px;
    scale: 1;
}

.card:hover {
    scale: 1.1;
}

/*  Front Card  */
.card .front-card {
    position: absolute;
    transform: rotateY(90deg);
    transition: transform linear .2s;
}

.flipped .front-card {
    transform: rotateY(180deg);
    transition-delay: 0.2s;
}

/* Back Card */
.card .back-card {
    transition: transform linear .2s;
}

.flipped .back-card {
    transform: rotateY(90deg);
}